<div class="dashboard-container">
  <div class="section">
    <h2>Métricas de Acceso a Páginas</h2>
    <ul>
      <li *ngFor="let metric of pageAccessMetrics">
        <span class="metric-label">ID de Usuario:</span> {{ metric.user_id }} |
        <span class="metric-label">Fecha y Hora:</span> {{ metric.timestamp }} |
        <span class="metric-label">ID de Sesión:</span> {{ metric.session_id }} |
        <span class="metric-label">Nombre de Página:</span> {{ metric.page_name }} |
        <span class="metric-label">Abandonada:</span> {{ metric.abandoned }}
      </li>
    </ul>
  </div>

  <div class="section">
    <h2>Métricas de Errores</h2>
    <ul>
      <li *ngFor="let metric of errorMetrics">
        <span class="metric-label">Código de Error:</span> {{ metric.error_code }} |
        <span class="metric-label">Fecha y Hora:</span> {{ metric.timestamp }} |
        <span class="metric-label">ID de Sesión:</span> {{ metric.session_id }} |
        <span class="metric-label">Nombre de Página:</span> {{ metric.page_name }} |
        <span class="metric-label">Mensaje de Error:</span> {{ metric.error_message }}
      </li>
    </ul>
  </div>

  <div class="section">
    <h2>Métricas de Transiciones de Páginas</h2>
    <ul>
      <li *ngFor="let metric of pageTransitionMetrics">
        <span class="metric-label">ID :</span> {{ metric.id }} |
        <span class="metric-label">ID de Usuario:</span> {{ metric.user_id }} |
        <span class="metric-label">Fecha y Hora:</span> {{ metric.timestamp }} |
        <span class="metric-label">Página de Origen:</span> {{ metric.from_page }} |
        <span class="metric-label">Página de Destino:</span> {{ metric.to_page }} |
        <span class="metric-label">Tiempo de Transición:</span> {{ metric.transition_time }}
      </li>
    </ul>
  </div>

  <div class="section">
    <h2>Métricas de Transacciones</h2>
    <ul>
      <li *ngFor="let metric of transactionMetrics">
        <span class="metric-label">ID:</span> {{ metric.id }} |
        <span class="metric-label">ID de Usuario:</span> {{ metric.user_id }} |
        <span class="metric-label">Fecha y Hora:</span> {{ metric.timestamp }} |
        <span class="metric-label">ID de Orden:</span> {{ metric.transaction_id }} |
        <span class="metric-label">Éxito de Transacción:</span> {{ metric.transaction_success }}
      </li>
    </ul>
  </div>
  <div class="back-to-top">
    <button (click)="scrollToTop()">Volver al inicio</button>
    <button routerLink="/">Ir al Home</button>
  </div>
</div>
